.elementor-51 .elementor-element.elementor-element-c967d4a {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    box-shadow: 0px 29px 46px -29px rgba(0, 74.00000000000001, 217, 0.27);
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --padding-left: 0px;
    --padding-right: 0px;
    --z-index: 9000;
}

.elementor-51 .elementor-element.elementor-element-c967d4a:not(.elementor-motion-effects-element-type-background),
.elementor-51 .elementor-element.elementor-element-c967d4a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-51 .elementor-element.elementor-element-bbd75a6 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --justify-content: center;
}

.elementor-51 .elementor-element.elementor-element-ab891bb {
    text-align: left;
}

.elementor-51 .elementor-element.elementor-element-ab891bb img {
    width: 58%;
}

.elementor-51 .elementor-element.elementor-element-9c522f1 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --justify-content: center;
}

.elementor-51 .elementor-element.elementor-element-88c706e .jet-nav--horizontal {
    justify-content: space-between;
    text-align: left;
}

.elementor-51 .elementor-element.elementor-element-88c706e .jet-nav--vertical .menu-item-link-top {
    justify-content: space-between;
    text-align: left;
}

.elementor-51 .elementor-element.elementor-element-88c706e .jet-nav--vertical-sub-bottom .menu-item-link-sub {
    justify-content: space-between;
    text-align: left;
}

.elementor-51 .elementor-element.elementor-element-88c706e .jet-mobile-menu.jet-mobile-menu-trigger-active .menu-item-link {
    justify-content: space-between;
    text-align: left;
}

body:not(.rtl) .elementor-51 .elementor-element.elementor-element-88c706e .jet-nav--horizontal .jet-nav__sub {
    text-align: left;
}

body.rtl .elementor-51 .elementor-element.elementor-element-88c706e .jet-nav--horizontal .jet-nav__sub {
    text-align: right;
}

.elementor-51 .elementor-element.elementor-element-88c706e .menu-item-link-top {
    color: #000000;
}

.elementor-51 .elementor-element.elementor-element-88c706e .menu-item-link-top .jet-nav-link-text {
    font-size: 16px;
}

.elementor-51 .elementor-element.elementor-element-88c706e .jet-nav__sub {
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.27);
}

.elementor-51 .elementor-element.elementor-element-88c706e .menu-item:hover>.menu-item-link-sub {
    background-color: var( --e-global-color-primary);
    color: #FFFFFF;
}

.elementor-51 .elementor-element.elementor-element-88c706e .menu-item-link-sub {
    padding: 10px 10px 10px 10px;
}

.elementor-51 .elementor-element.elementor-element-c0d0060 .jet-nav--horizontal {
    justify-content: space-between;
    text-align: left;
}

.elementor-51 .elementor-element.elementor-element-c0d0060 .jet-nav--vertical .menu-item-link-top {
    justify-content: space-between;
    text-align: left;
}

.elementor-51 .elementor-element.elementor-element-c0d0060 .jet-nav--vertical-sub-bottom .menu-item-link-sub {
    justify-content: space-between;
    text-align: left;
}

.elementor-51 .elementor-element.elementor-element-c0d0060 .jet-mobile-menu.jet-mobile-menu-trigger-active .menu-item-link {
    justify-content: space-between;
    text-align: left;
}

body:not(.rtl) .elementor-51 .elementor-element.elementor-element-c0d0060 .jet-nav--horizontal .jet-nav__sub {
    text-align: left;
}

body.rtl .elementor-51 .elementor-element.elementor-element-c0d0060 .jet-nav--horizontal .jet-nav__sub {
    text-align: right;
}

.elementor-51 .elementor-element.elementor-element-c0d0060 .menu-item-link-top {
    color: #000000;
}

.elementor-51 .elementor-element.elementor-element-c0d0060 .menu-item-link-top .jet-nav-link-text {
    font-size: 16px;
}

.elementor-51 .elementor-element.elementor-element-c0d0060 .jet-nav__sub {
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.27);
}

.elementor-51 .elementor-element.elementor-element-c0d0060 .menu-item:hover>.menu-item-link-sub {
    background-color: var( --e-global-color-primary);
    color: #FFFFFF;
}

.elementor-51 .elementor-element.elementor-element-c0d0060 .menu-item-link-sub {
    padding: 10px 10px 10px 10px;
}

.elementor-51 .elementor-element.elementor-element-10c83d7 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: flex-end;
}

.elementor-51 .elementor-element.elementor-element-d32e8f0 .elementor-button {
    background-color: #02010100;
    font-size: 14px;
    fill: var( --e-global-color-primary);
    color: var( --e-global-color-primary);
    border-style: none;
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-51 .elementor-element.elementor-element-d32e8f0 {
    margin: 0px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-51 .elementor-element.elementor-element-d32e8f0.elementor-element {
    --align-self: center;
}

.elementor-51 .elementor-element.elementor-element-d32e8f0 .elementor-button-content-wrapper {
    flex-direction: row;
}

.elementor-51 .elementor-element.elementor-element-e93a325 .elementor-button {
    background-color: var( --e-global-color-primary);
    font-size: 14px;
    fill: #FFFFFF;
    color: #FFFFFF;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #FFFFFF;
    border-radius: 0px 0px 0px 0px;
}

.elementor-51 .elementor-element.elementor-element-e93a325 {
    margin: 0px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-51 .elementor-element.elementor-element-e93a325.elementor-element {
    --align-self: center;
}

.elementor-51 .elementor-element.elementor-element-f1d3516 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: space-between;
    --align-items: center;
    --gap: 5px 5px;
    --row-gap: 5px;
    --column-gap: 5px;
    --margin-top: -20px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 10px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-51 .elementor-element.elementor-element-5563641 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-51 .elementor-element.elementor-element-5563641.elementor-view-stacked .elementor-icon {
    background-color: var( --e-global-color-primary);
}

.elementor-51 .elementor-element.elementor-element-5563641.elementor-view-framed .elementor-icon,
.elementor-51 .elementor-element.elementor-element-5563641.elementor-view-default .elementor-icon {
    color: var( --e-global-color-primary);
    border-color: var( --e-global-color-primary);
}

.elementor-51 .elementor-element.elementor-element-5563641.elementor-view-framed .elementor-icon,
.elementor-51 .elementor-element.elementor-element-5563641.elementor-view-default .elementor-icon svg {
    fill: var( --e-global-color-primary);
}

.elementor-51 .elementor-element.elementor-element-2f02dd1 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-51 .elementor-element.elementor-element-2f02dd1.elementor-view-stacked .elementor-icon {
    background-color: var( --e-global-color-primary);
}

.elementor-51 .elementor-element.elementor-element-2f02dd1.elementor-view-framed .elementor-icon,
.elementor-51 .elementor-element.elementor-element-2f02dd1.elementor-view-default .elementor-icon {
    color: var( --e-global-color-primary);
    border-color: var( --e-global-color-primary);
}

.elementor-51 .elementor-element.elementor-element-2f02dd1.elementor-view-framed .elementor-icon,
.elementor-51 .elementor-element.elementor-element-2f02dd1.elementor-view-default .elementor-icon svg {
    fill: var( --e-global-color-primary);
}

.elementor-51 .elementor-element.elementor-element-0c2d936 .jet-nav--horizontal {
    justify-content: flex-start;
    text-align: left;
}

.elementor-51 .elementor-element.elementor-element-0c2d936 .jet-nav--vertical .menu-item-link-top {
    justify-content: flex-start;
    text-align: left;
}

.elementor-51 .elementor-element.elementor-element-0c2d936 .jet-nav--vertical-sub-bottom .menu-item-link-sub {
    justify-content: flex-start;
    text-align: left;
}

.elementor-51 .elementor-element.elementor-element-0c2d936 .jet-mobile-menu.jet-mobile-menu-trigger-active .menu-item-link {
    justify-content: flex-start;
    text-align: left;
}

body:not(.rtl) .elementor-51 .elementor-element.elementor-element-0c2d936 .jet-nav--horizontal .jet-nav__sub {
    text-align: left;
}

body.rtl .elementor-51 .elementor-element.elementor-element-0c2d936 .jet-nav--horizontal .jet-nav__sub {
    text-align: right;
}

.elementor-51 .elementor-element.elementor-element-0c2d936 .menu-item:hover>.menu-item-link-top {
    color: var( --e-global-color-primary);
}

.elementor-51 .elementor-element.elementor-element-0c2d936 .menu-item.current-menu-item .menu-item-link-top {
    color: var( --e-global-color-primary);
}

.elementor-51 .elementor-element.elementor-element-0c2d936 .menu-item.current-menu-item .menu-item-link-top .jet-nav-link-text {
    font-weight: bold;
}

.elementor-51 .elementor-element.elementor-element-0c2d936 .jet-nav__mobile-trigger {
    color: var( --e-global-color-primary);
    width: 40px;
    font-size: 25px;
}

.elementor-51 .elementor-element.elementor-element-0c2d936 .jet-mobile-menu-active .jet-nav {
    width: 100%;
}

.elementor-51 .elementor-element.elementor-element-0c2d936 .jet-nav__mobile-close-btn {
    color: var( --e-global-color-primary);
    font-size: 28px;
}

.elementor-51 .elementor-element.elementor-element-b33cd33 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: space-between;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --margin-top: -110px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --z-index: 9999;
}

.elementor-51 .elementor-element.elementor-element-b33cd33:not(.elementor-motion-effects-element-type-background),
.elementor-51 .elementor-element.elementor-element-b33cd33>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #00000000;
}

.elementor-51 .elementor-element.elementor-element-1df46ba {
    --display: flex;
}

.elementor-51 .elementor-element.elementor-element-9431a67 {
    text-align: left;
}

.elementor-51 .elementor-element.elementor-element-9431a67 img {
    width: 50%;
}

.elementor-51 .elementor-element.elementor-element-aef6c24 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --justify-content: center;
    --align-items: stretch;
    --gap: 5px 5px;
    --row-gap: 5px;
    --column-gap: 5px;
}

.elementor-51 .elementor-element.elementor-element-aef6c24.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-51 .elementor-element.elementor-element-beeebf0 .jet-nav--horizontal {
    justify-content: space-between;
    text-align: left;
}

.elementor-51 .elementor-element.elementor-element-beeebf0 .jet-nav--vertical .menu-item-link-top {
    justify-content: space-between;
    text-align: left;
}

.elementor-51 .elementor-element.elementor-element-beeebf0 .jet-nav--vertical-sub-bottom .menu-item-link-sub {
    justify-content: space-between;
    text-align: left;
}

.elementor-51 .elementor-element.elementor-element-beeebf0 .jet-mobile-menu.jet-mobile-menu-trigger-active .menu-item-link {
    justify-content: space-between;
    text-align: left;
}

body:not(.rtl) .elementor-51 .elementor-element.elementor-element-beeebf0 .jet-nav--horizontal .jet-nav__sub {
    text-align: left;
}

body.rtl .elementor-51 .elementor-element.elementor-element-beeebf0 .jet-nav--horizontal .jet-nav__sub {
    text-align: right;
}

.elementor-51 .elementor-element.elementor-element-beeebf0 .menu-item-link-top {
    color: #FFFFFF;
}

.elementor-51 .elementor-element.elementor-element-beeebf0 .menu-item-link-top .jet-nav-link-text {
    font-size: 16px;
}

.elementor-51 .elementor-element.elementor-element-beeebf0 .jet-nav__sub {
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.27);
}

.elementor-51 .elementor-element.elementor-element-beeebf0 .menu-item:hover>.menu-item-link-sub {
    background-color: var( --e-global-color-primary);
    color: #FFFFFF;
}

.elementor-51 .elementor-element.elementor-element-beeebf0 .menu-item-link-sub {
    padding: 10px 10px 10px 10px;
}

.elementor-51 .elementor-element.elementor-element-dc1060e {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: flex-end;
}

.elementor-51 .elementor-element.elementor-element-729176c .elementor-button {
    background-color: #02010100;
    fill: #FFFFFF;
    color: #FFFFFF;
    border-style: none;
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-51 .elementor-element.elementor-element-729176c {
    margin: 0px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-51 .elementor-element.elementor-element-729176c.elementor-element {
    --align-self: center;
}

.elementor-51 .elementor-element.elementor-element-729176c .elementor-button-content-wrapper {
    flex-direction: row;
}

.elementor-51 .elementor-element.elementor-element-7cc3ff6 .elementor-button {
    background-color: #FFFFFFFC;
    fill: var( --e-global-color-primary);
    color: var( --e-global-color-primary);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #FFFFFF;
    border-radius: 0px 0px 0px 0px;
}

.elementor-51 .elementor-element.elementor-element-7cc3ff6 {
    margin: 0px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-51 .elementor-element.elementor-element-7cc3ff6.elementor-element {
    --align-self: center;
}

.elementor-51 .elementor-element.elementor-element-7cc3ff6 .elementor-button-content-wrapper {
    flex-direction: row;
}

.elementor-51 .elementor-element.elementor-element-4f00d51 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
}

.elementor-51 .elementor-element.elementor-element-4f00d51:not(.elementor-motion-effects-element-type-background),
.elementor-51 .elementor-element.elementor-element-4f00d51>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #00000000;
}

.elementor-51 .elementor-element.elementor-element-dc33186 {
    --display: flex;
}

.elementor-51 .elementor-element.elementor-element-2d465b7 {
    text-align: left;
}

.elementor-51 .elementor-element.elementor-element-2d465b7 img {
    width: 60%;
}

.elementor-51 .elementor-element.elementor-element-e20c3a2 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: space-between;
    --align-items: center;
    --gap: 5px 5px;
    --row-gap: 5px;
    --column-gap: 5px;
}

.elementor-51 .elementor-element.elementor-element-edd46e4 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-51 .elementor-element.elementor-element-edd46e4.elementor-view-stacked .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-51 .elementor-element.elementor-element-edd46e4.elementor-view-framed .elementor-icon,
.elementor-51 .elementor-element.elementor-element-edd46e4.elementor-view-default .elementor-icon {
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.elementor-51 .elementor-element.elementor-element-edd46e4.elementor-view-framed .elementor-icon,
.elementor-51 .elementor-element.elementor-element-edd46e4.elementor-view-default .elementor-icon svg {
    fill: #FFFFFF;
}

.elementor-51 .elementor-element.elementor-element-22eb9a5 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-51 .elementor-element.elementor-element-22eb9a5.elementor-view-stacked .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-51 .elementor-element.elementor-element-22eb9a5.elementor-view-framed .elementor-icon,
.elementor-51 .elementor-element.elementor-element-22eb9a5.elementor-view-default .elementor-icon {
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.elementor-51 .elementor-element.elementor-element-22eb9a5.elementor-view-framed .elementor-icon,
.elementor-51 .elementor-element.elementor-element-22eb9a5.elementor-view-default .elementor-icon svg {
    fill: #FFFFFF;
}

.elementor-51 .elementor-element.elementor-element-9e67996 .jet-nav--horizontal {
    justify-content: flex-start;
    text-align: left;
}

.elementor-51 .elementor-element.elementor-element-9e67996 .jet-nav--vertical .menu-item-link-top {
    justify-content: flex-start;
    text-align: left;
}

.elementor-51 .elementor-element.elementor-element-9e67996 .jet-nav--vertical-sub-bottom .menu-item-link-sub {
    justify-content: flex-start;
    text-align: left;
}

.elementor-51 .elementor-element.elementor-element-9e67996 .jet-mobile-menu.jet-mobile-menu-trigger-active .menu-item-link {
    justify-content: flex-start;
    text-align: left;
}

body:not(.rtl) .elementor-51 .elementor-element.elementor-element-9e67996 .jet-nav--horizontal .jet-nav__sub {
    text-align: left;
}

body.rtl .elementor-51 .elementor-element.elementor-element-9e67996 .jet-nav--horizontal .jet-nav__sub {
    text-align: right;
}

.elementor-51 .elementor-element.elementor-element-9e67996 .menu-item:hover>.menu-item-link-top {
    color: var( --e-global-color-primary);
}

.elementor-51 .elementor-element.elementor-element-9e67996 .menu-item.current-menu-item .menu-item-link-top {
    color: var( --e-global-color-primary);
}

.elementor-51 .elementor-element.elementor-element-9e67996 .menu-item.current-menu-item .menu-item-link-top .jet-nav-link-text {
    font-weight: bold;
}

.elementor-51 .elementor-element.elementor-element-9e67996 .jet-nav__mobile-trigger {
    color: #FFFFFF;
    width: 40px;
    font-size: 25px;
}

.elementor-51 .elementor-element.elementor-element-9e67996 .jet-mobile-menu-active .jet-nav {
    width: 100%;
}

.elementor-51 .elementor-element.elementor-element-9e67996 .jet-nav__mobile-close-btn {
    color: var( --e-global-color-primary);
    font-size: 28px;
}

.elementor-51 .elementor-element.elementor-element-1da9a3a .jet-mobile-menu__toggle .jet-mobile-menu__toggle-icon {
    color: #FFFFFF;
}

.elementor-51 .elementor-element.elementor-element-1da9a3a .jet-mobile-menu__toggle {
    padding: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
}

.elementor-51 .elementor-element.elementor-element-1da9a3a .jet-mobile-menu__container {
    z-index: 999;
}

.elementor-51 .elementor-element.elementor-element-1da9a3a .jet-mobile-menu-widget .jet-mobile-menu-cover {
    z-index: calc(999-1);
}

.elementor-51 .elementor-element.elementor-element-1da9a3a .jet-mobile-menu__item .jet-menu-icon {
    align-self: center;
    justify-content: center;
}

.elementor-51 .elementor-element.elementor-element-1da9a3a .jet-mobile-menu__item .jet-menu-label {
    font-family: "Gotham font", Sans-serif;
    font-weight: normal;
    color: #000000;
}

.elementor-51 .elementor-element.elementor-element-1da9a3a .jet-mobile-menu__item .jet-menu-badge {
    align-self: flex-start;
}

.elementor-51:not(.elementor-motion-effects-element-type-background),
.elementor-51>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #02010100;
}

.elementor-theme-builder-content-area {
    height: 400px;
}

.elementor-location-header:before,
.elementor-location-footer:before {
    content: "";
    display: table;
    clear: both;
}

@media(min-width:768px) {
    .elementor-51 .elementor-element.elementor-element-bbd75a6 {
        --width: 20%;
    }
    .elementor-51 .elementor-element.elementor-element-9c522f1 {
        --width: 55%;
    }
    .elementor-51 .elementor-element.elementor-element-10c83d7 {
        --width: 35%;
    }
    .elementor-51 .elementor-element.elementor-element-1df46ba {
        --width: 20%;
    }
    .elementor-51 .elementor-element.elementor-element-aef6c24 {
        --width: 50%;
    }
    .elementor-51 .elementor-element.elementor-element-dc1060e {
        --width: 35%;
    }
    .elementor-51 .elementor-element.elementor-element-dc33186 {
        --width: 20%;
    }
}

@media(max-width:767px) {
    .elementor-51 .elementor-element.elementor-element-c967d4a {
        --justify-content: center;
        --align-items: stretch;
        --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 10px;
        --padding-right: 10px;
    }
    .elementor-51 .elementor-element.elementor-element-c967d4a.e-con {
        --align-self: center;
    }
    .elementor-51 .elementor-element.elementor-element-bbd75a6 {
        --width: 50%;
        --z-index: 1;
    }
    .elementor-51 .elementor-element.elementor-element-ab891bb img {
        width: 75%;
    }
    .elementor-51 .elementor-element.elementor-element-9c522f1 {
        --width: 50%;
    }
    .elementor-51 .elementor-element.elementor-element-f1d3516 {
        --width: 50%;
        --flex-direction: row;
        --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
        --container-widget-height: 100%;
        --container-widget-flex-grow: 1;
        --container-widget-align-self: stretch;
        --flex-wrap-mobile: wrap;
        --justify-content: flex-end;
        --align-items: center;
        --gap: 10px 10px;
        --row-gap: 10px;
        --column-gap: 10px;
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 5px;
        --padding-bottom: 5px;
        --padding-left: 0px;
        --padding-right: 0px;
        --z-index: 900;
    }
    .elementor-51 .elementor-element.elementor-element-f1d3516.e-con {
        --align-self: center;
    }
    .elementor-51 .elementor-element.elementor-element-5563641 {
        padding: 4px 4px 4px 4px;
    }
    .elementor-51 .elementor-element.elementor-element-5563641 .elementor-icon {
        font-size: 20px;
    }
    .elementor-51 .elementor-element.elementor-element-5563641 .elementor-icon svg {
        height: 20px;
    }
    .elementor-51 .elementor-element.elementor-element-2f02dd1 {
        padding: 4px 4px 4px 4px;
    }
    .elementor-51 .elementor-element.elementor-element-2f02dd1 .elementor-icon {
        font-size: 20px;
    }
    .elementor-51 .elementor-element.elementor-element-2f02dd1 .elementor-icon svg {
        height: 20px;
    }
    .elementor-51 .elementor-element.elementor-element-0c2d936 {
        z-index: 900;
    }
    .elementor-51 .elementor-element.elementor-element-0c2d936 .menu-item-link-top .jet-nav-link-text {
        font-size: 18px;
    }
    .elementor-51 .elementor-element.elementor-element-0c2d936 .menu-item-link-top {
        padding: 10px 0px 0px 20px;
    }
    .elementor-51 .elementor-element.elementor-element-0c2d936 .jet-nav__sub {
        padding: 10px 0px 0px 10px;
    }
    .elementor-51 .elementor-element.elementor-element-b33cd33 {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
    }
    .elementor-51 .elementor-element.elementor-element-1df46ba {
        --width: 50%;
    }
    .elementor-51 .elementor-element.elementor-element-aef6c24 {
        --width: 50%;
        --flex-direction: column;
        --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --flex-wrap-mobile: wrap;
        --align-items: flex-end;
    }
    .elementor-51 .elementor-element.elementor-element-aef6c24.e-con {
        --align-self: flex-end;
    }
    .elementor-51 .elementor-element.elementor-element-4f00d51 {
        --margin-top: -80px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --z-index: 1000;
    }
    .elementor-51 .elementor-element.elementor-element-dc33186 {
        --width: 50%;
    }
    .elementor-51 .elementor-element.elementor-element-2d465b7 img {
        width: 48%;
    }
    .elementor-51 .elementor-element.elementor-element-e20c3a2 {
        --width: 50%;
        --flex-direction: row;
        --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
        --container-widget-height: 100%;
        --container-widget-flex-grow: 1;
        --container-widget-align-self: stretch;
        --flex-wrap-mobile: wrap;
        --justify-content: flex-end;
        --align-items: center;
        --gap: 10px 10px;
        --row-gap: 10px;
        --column-gap: 10px;
    }
    .elementor-51 .elementor-element.elementor-element-e20c3a2.e-con {
        --align-self: flex-end;
    }
    .elementor-51 .elementor-element.elementor-element-edd46e4 {
        padding: 4px 4px 4px 4px;
    }
    .elementor-51 .elementor-element.elementor-element-edd46e4 .elementor-icon {
        font-size: 20px;
    }
    .elementor-51 .elementor-element.elementor-element-edd46e4 .elementor-icon svg {
        height: 20px;
    }
    .elementor-51 .elementor-element.elementor-element-22eb9a5 {
        padding: 4px 4px 4px 4px;
    }
    .elementor-51 .elementor-element.elementor-element-22eb9a5 .elementor-icon {
        font-size: 20px;
    }
    .elementor-51 .elementor-element.elementor-element-22eb9a5 .elementor-icon svg {
        height: 20px;
    }
    .elementor-51 .elementor-element.elementor-element-9e67996 {
        z-index: 900;
    }
    .elementor-51 .elementor-element.elementor-element-9e67996 .menu-item-link-top .jet-nav-link-text {
        font-size: 18px;
    }
    .elementor-51 .elementor-element.elementor-element-9e67996 .menu-item-link-top {
        padding: 10px 0px 0px 20px;
    }
    .elementor-51 .elementor-element.elementor-element-9e67996 .jet-nav__sub {
        padding: 10px 0px 0px 10px;
    }
    .elementor-51 .elementor-element.elementor-element-1da9a3a>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
    .elementor-51 .elementor-element.elementor-element-1da9a3a .jet-mobile-menu__toggle .jet-mobile-menu__toggle-icon i {
        font-size: 28px;
    }
    .elementor-51 .elementor-element.elementor-element-1da9a3a .jet-mobile-menu__toggle .jet-mobile-menu__toggle-icon svg {
        width: 28px;
    }
    .elementor-51 .elementor-element.elementor-element-1da9a3a .jet-mobile-menu__container .jet-mobile-menu__back i {
        font-size: 28px;
    }
    .elementor-51 .elementor-element.elementor-element-1da9a3a .jet-mobile-menu__container .jet-mobile-menu__back svg {
        width: 28px;
    }
    .elementor-51 .elementor-element.elementor-element-1da9a3a .jet-mobile-menu__item .jet-menu-icon img {
        width: 32px;
    }
    .elementor-51 .elementor-element.elementor-element-1da9a3a .jet-mobile-menu__item .jet-menu-icon svg {
        width: 32px;
    }
    .elementor-51 .elementor-element.elementor-element-1da9a3a .jet-mobile-menu__item .jet-menu-label {
        font-size: 16px;
    }
    .elementor-51 .elementor-element.elementor-element-1da9a3a .jet-mobile-menu__item .jet-dropdown-arrow i {
        font-size: 28px;
    }
    .elementor-51 .elementor-element.elementor-element-1da9a3a .jet-mobile-menu__item .jet-dropdown-arrow svg {
        width: 28px;
    }
}